# Requirements file to install all packages needed for AxMED: 
# This file may be used within a Python environment using:
# $ pip install -r requirements.txt

numpy==1.13.3
pandas==0.25.0
requests==2.20.0
scikit_learn==0.18.2
scipy==0.19.1
lief==0.9.0
